:root {
  --div_BG: #1d2c45;
  --BG_2: #3f6d67;
  --black: #000000;
  --fontcolor: #cce7e8;
  --debug: #FF0000;
  --controll_element: #2a6fde;
  --border_color: #96dbfa;
}

/* general markdown styling */
a:link {color: #ddf9f9}
h2{
    margin: 20px 5px 20px 80px !important;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes: https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-right: 5px;
}


/* global body or global div container */
body {
    background-color: #000000;
}
#layout {
    /*border: 1px solid white;*/
    color: var(--fontcolor);
}

.div_class {
    background-color: var(--div_BG);
}


/* HEADER */
#header_div {
    background-color: var(--div_BG);
    color: var(--fontcolor);
    padding-left: 20px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 0px 10px; /* row-gap column gap */
}

#header_block_div {
    width: 100px;
}


/* RANGESLIDER */
#rangeslider_div {
    margin-top: 5px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 5px;
}
#date_rangeslider .rc-slider-rail{
    /* bar color */
    background-color: var(--fontcolor);
}
#date_rangeslider .rc-slider-track {
    /* slider(selector) bar color*/
    background-color: var(--controll_element);
}
#date_rangeslider .rc-slider-handle-1, #date_rangeslider .rc-slider-handle-2{
    /* Handle color*/
    background-color: var(--controll_element);
    border: solid 2px var(--border_color);
}
#date_rangeslider .rc-slider-dot{
    /* slider dots*/
    background-color: white;
    border: solid 2px var(--border_color);
}
#date_rangeslider .rc-slider-with-marks {
  /* Background behind Slider */
  /* background-color: red;  */
}


/* Settings + bar plot div */
#setting_barplot_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--div_BG);
}
#barplot_div{
    background-color: blue;
    flex: 1 1 0px;  /* flex-grow, flex-shrink and flex-basis */
    align-self: auto;
}
#settings_div{
    padding: 0px 5px 5px 15px; /*oben rechts unten links -- # top right bottom left (margin)*/
    margin: 0px 0px 0px 0px;
    var(--div_BG);
    flex: 1 1 0px;
    align-self: stretch; /*stretch to fill same height as the bar plot in same column  or --flex-end  */
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    gap: 0px;
}
#settings_checklist_div{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}


/* selection bar styling */
.Select-control {
    /* color for selected menu/field */
    background-color: var(--controll_element) !important;
    border: solid 1px var(--border_color);
  }
.Select-menu-outer {
    /* color for elements in open list */
    background-color: var(--controll_element);
}
.Select-value-label {
/* Text of selected text in selected field*/
    color: var(--fontcolor) !important;
}


/* The div with the module selection and its label*/
#mod_selection{
    padding-bottom: 10px;
}
/* CELL PLOT DIVS */
#cell_plots_div{
   display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--div_BG);
}
#cellline_div{
    flex: 2 1 0px;  /* flex-grow, flex-shrink and flex-basis */

}
#cellbar_div{
    flex: 1 1 0px;  /* flex-grow, flex-shrink and flex-basis */

}